<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Priority Task</title>
    <link rel="stylesheet" href="/priority.css" />
  </head>
  <body>
    <div class="nav-bar">
      <h2>Dashboard</h2>
      <div class="user">
        <ion-icon name="person-circle"></ion-icon>
        <h3><%= username %></h3>
      </div>
    </div>
    <div class="side-bar">
      <div class="links">
        <nav>
          <ul>
            <li>
              <a href="/task">Dashboard</a>
              <a href="/alltask"
                >All Task&nbsp;&nbsp;<span id="allTaskCount"
                  ><%= allTaskCount %></span
                ></a
              >
              <a href="/completed"
                >Completed&nbsp;&nbsp;<span id="completedTaskCount"
                  ><%= completedCount %></span
                ></a
              >
              <a href="/priority" class="active"
                >Priority&nbsp;&nbsp;<span id="PriorityCount"
                  ><%= PriorityCount %></span
                ></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="User">
      <a href="/logout" class="logout-button"
        ><ion-icon name="log-out"></ion-icon>Logout</a
      >

      <button class="theme-toggle">
        <ion-icon name="moon"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-icon
          name="sunny"
        ></ion-icon>
      </button>
    </div>
    <div class="title">
      <span>Priority Task</span>
    </div>
    <div class="tasks">
      <div class="pic">
        <% if (priorityTodos.length === 0) { %>
        <img src="list-pic.png" alt="List Picture" />
        <% } %>
      </div>
      <ul>
        <% priorityTodos.forEach(todo => { %>
        <li>
          <span style="font-size: 22px"><%= todo.task %></span>
          &nbsp;&nbsp;&nbsp; <% if (todo.dueDate) { %>
          <p>
            Due: <%= todo.dueDate.toLocaleDateString('en-US', { weekday:
            'short', year: 'numeric', month: 'long', day: 'numeric' }) %>
          </p>
          <% } %> &nbsp;&nbsp;&nbsp;
          <p><%= todo.priority %></p>
          &nbsp;&nbsp;&nbsp;
          <button
            class="remove"
            onclick="removeTodo('<%= todo._id %>', '<%= userId %>')"
          >
            <ion-icon name="trash"></ion-icon>
          </button>
        </li>
        <% }); %>
      </ul>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script>
      function markAsCompleted(id, userId) {
        fetch("/complete", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ id, userId }),
        }).then(() => {
          window.location.reload();
        });
      }

      function removeTodo(id, userId) {
        fetch("/remove", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ id, userId }),
        }).then(() => {
          window.location.reload();
        });
      }

      const themeToggle = document.querySelector(".theme-toggle");
      const moonIcon = document.querySelector(
        '.theme-toggle ion-icon[name="moon"]'
      );
      const sunnyIcon = document.querySelector(
        '.theme-toggle ion-icon[name="sunny"]'
      );

      themeToggle.addEventListener("click", function () {
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")) {
          moonIcon.style.display = "inline";
          sunnyIcon.style.display = "none";
        } else {
          moonIcon.style.display = "none";
          sunnyIcon.style.display = "inline";
        }
      });
    </script>
  </body>
</html>
